#root {
  height: 100vh;
  margin: 0;
  padding: 2rem;
  display: flex;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.App {
  max-width: 400px;
  width: 100%;
  margin: auto;
}

.Pizza {
  padding: 1rem;
  background: #ddd;
  transition: all .2s ease;
}

.Pizza:hover {
  filter:brightness(.9);
  transform: scale(1.025);
  cursor: pointer;
}

.Pizza:nth-child(2n+1) {
  background: #eee;
}

.Pizza h2 {
  margin: 0;
  padding: .25rem;
}

.Pizza ul {
  margin: .5rem 0;
  padding: 0 1.25rem;
}

.Pizza li {
  margin: 0;
  font-size: .9rem;
}
